name: Test runner

on:
  push:
    branches:
    - main
  workflow_dispatch:

env:
  ENGINE_PATH: "C:/Program Files/Epic Games/UE_5.6"

jobs:
  Test:
    name: Build unreal project
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v6.0.0
      with:
        repository: ${{ github.repository }}    
        sparse-checkout: |
          .github
          Project

    - name: Generate Project Files
      shell: cmd
      run: >
        "${{ env.ENGINE_PATH}}/Engine/Build/BatchFiles/Build.bat"
          -projectfiles -project="${{ github.workspace }}\Project\VrouVroum.uproject" 
          -game -rocket -progress 
          -log="%~dp0\Saved\Logs\UnrealVersionSelector-2025.05.07-00.56.10.log"

    - name: Generate intermediates and binaries 
      shell: cmd
      run: >
        "${{ env.ENGINE_PATH}}/Engine/Build/BatchFiles/Build.bat"
        "${{ github.workspace }}\Project\VrouVroum.uproject" NautiKart Win64 Development

    - name: Create build folder
      shell: cmd
      run: mkdir Build
      
    - name: Build
      shell: cmd
      run: >
        "${{ env.ENGINE_PATH }}/Engine/Build/BatchFiles/RunUAT.bat" BuildCookRun
          -project="${{ github.workspace }}/Project/VroumVroum.uproject"
          -noP4 -platform=Win64 -clientconfig=Shipping -serverconfig=Development
          -cook -allmaps -build -stage -pak -archive
          -archivedirectory="${{ github.workspace }}\Build"

      

    - name: Cache
      uses: actions/cache@v4.3.0
      with:
        # A list of files, directories, and wildcard patterns to cache and restore
        path: "${{ github.workspace }}/Build"
