name: Test runner

on:
  push:
    branches:
    - main
  workflow_dispatch:

env:
  ENGINE_PATH: "C:/Program Files/Epic Games/UE_5.6"
  BUILD_PATH: "${{ github.workspace }}/Build"

jobs:
  Test:
    name: Build unreal project
    runs-on: windows-latest

    steps:
    - name: Create build folder
      shell: cmd
      run: mkdir Build
      
    - name: Build
      shell: cmd
      run: >
        "${{ env.ENGINE_PATH }}/Engine/Build/BatchFiles/RunUAT.bat" BuildCookRun
          -project="${{ github.workspace }}/Project/VroumVroum.uproject"
          -noP4 -platform=Win64 -clientconfig=Shipping -serverconfig=Development
          -cook -allmaps -build -stage -pak -archive
          -archivedirectory=${{env.BUILD_PATH}}

    - name: Cache
      uses: actions/cache@v4.3.0
      with:
        # A list of files, directories, and wildcard patterns to cache and restore
        path:  ${{env.BUILD_PATH}}
