name: Test runner

on:
  push:
    branches:
    - main
  workflow_dispatch:

env:
  BUILD_PATH: "%GITHUB_WORKSPACE%/Build"

jobs:
  Test:
    name: Build unreal project
    runs-on: windows-latest

    steps:
    - name: Create build folder
      shell: cmd
      run: mkdir Build
      
    - name: Build
      run: ${{ env.ENGINE_PATH }}\Engine\Build\BatchFiles\RunUAT.bat" BuildCookRun `
            -project="%GITHUB_WORKSPACE%/Project/VroumVroum.uproject" `
            -noP4 -platform=Win64 -clientconfig=Shipping -serverconfig=Development `
            -cook -allmaps -build -stage -pak -archive `
            -archivedirectory=${{env.BUILD_PATH}}

    - name: Cache
      uses: actions/cache@v4.3.0
      with:
        # A list of files, directories, and wildcard patterns to cache and restore
        path:  ${{env.BUILD_PATH}}
